
@import '../../../main-styles.scss';


.navbar {
  background-color: white;
  border-bottom: 1px solid whitesmoke;
}

.navbar-brand {
  flex-grow: 1;
}

.navbar-menu .navbar-item {
  padding: 0rem 2rem 0rem 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  // letter-spacing: 2px;
  font-size: 1rem;
  // text-transform: uppercase;
  color: gray;
  &:hover {
    background-color: #f3f3f3;
    color: $primary
  }

  
}

.navbar-brand > .navbar-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: $primary;
}