<nav class="navbar px-2" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      Classroom manager
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <!-- <a class="navbar-item" routerLink="/dashboard"> Dashboard </a>
      <a class="navbar-item" routerLink="/classrooms"> My classrooms </a>
      <a class="navbar-item" routerLink="/students"> My students </a> -->
      <span class="navbar-item"><i class="fa fa-bell"></i></span>


      
    </div>

    <!-- <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light"> Log in </a>
        </div>
      </div>
    </div> -->
  </div>
</nav>
