

<div class="container has-text-centered">
  <div class="is-flex is-justify-content-center">
    <div routerLink="/classrooms" class='column is-one-quarter '>
      <div class="box is-flex is-align-items-center">
        <div class='icon'>
          <img src="../../../assets/classrooms.png">
        </div>
        My classrooms
      </div>
    </div>
      
    <div routerLink="/students" class='column is-one-quarter'>
      
      <div class="box is-flex is-align-items-center">
        <div class='icon'>
          <img src="../../../assets/student2.png">
        </div>
        My students
      </div>

    </div>
  </div>
</div>

