<div style="margin-top: 3rem" class="main-menu">
  <ul>
    <section class="home">
      <li class="menu-item">
        <i class="fa fa-home"></i><span class="show-on-hover">Dashboard</span>
      </li>
    </section>
    <section class="links">
      <li class="menu-item" routerLink="/dashboard">
        <i class="fa-solid fa-angles-right"></i>
        <span class="show-on-hover">My dashboard</span>
      </li>
    </section>
    <section class="home">
      <li class="menu-item">
        <i class="fa-solid fa-landmark"></i
        ><span class="show-on-hover">Classrooms</span>
      </li>
    </section>
    <section class="links">
      <li class="menu-item" routerLink="/classrooms">
        <i class="fa-solid fa-angles-right"></i>
        <span class="show-on-hover">My classrooms</span>
      </li>
      <li class="menu-item" routerLink="/add-classroom">
        <i class="fa fa-plus"></i>
        <span class="show-on-hover">Add classroom</span>
      </li>
    </section>
    <section class="home">
      <li class="menu-item">
        <i class="fa-solid fa-user-group"></i
        ><span class="show-on-hover">Students</span>
      </li>
    </section>
    <section class="links">
      <li class="menu-item" routerLink="/students">
        <i class="fa-solid fa-angles-right"></i
        ><span class="show-on-hover">My Students</span>
      </li>
      <!-- <li class="menu-item">
        <i class="fa fa-plus"></i>
        <span class="show-on-hover"></span>
      </li> -->
    </section>

    <!-- <section class="links">
      
      
      <li class="menu-item"><i class="fa fa-hashtag"></i>Mathematics</li>
      <li class="menu-item"><i class="fa fa-wrench"></i>Physics</li>
      <li class="menu-item"><i class="fa fa-globe"></i>Web Development</li>
      <li class="menu-item">
        <i class="fa fa-android"></i>Android Development
      </li>
    </section>
    <section class="social">
      <li class="menu-item"><i class="fa fa-facebook"></i>Facebook</li>
      <li class="menu-item"><i class="fa fa-twitter"></i>Twitter</li>
      <li class="menu-item"><i class="fa fa-github"></i>Github</li>
    </section> -->
  </ul>
</div>
